<!DOCTYPE html>
<html>
<head>
    <title>Universal Structured search interface</title>
    <style>

        select{
            font-size: large;
        }

    </style>
</head>
<body onload="TLF_Factory('tlf',OmniBoxRoot,null).start()">

<div id="tlf"></div>

<script>

// todo: allow field to specify base field to extend?
// or always specify all fields, so single point of responsibility

// where -> what -> how
// Data-src -> ObjectType -> QueryType
// who where when what why how

// config for prefilters - typeName -> typeName -> typeName

// if type is DDL, display content as DDL: value:text -> id:displayName -> select chooses id
// process collection fields in order to get data coordinates

// TODO: List -> [{},{},{}]

// TreeRoot -> Node []

// TODO: this allows easy reuse and possible override
var levels = [
    {
        id:"DataSrcs",
        elementType:"ddl",
        label:"Where - Data Source",
        options:[
            {
                id:"ZNC",
                label:"ZNC",
                link:"ZNC_OBJECTS"
            },{
                id:"ZOLE",
                label:"ZOLE"
            }
        ]
    },
    {
        id:"ZNC_OBJECTS",
        elementType:"ddl",
        label:"What - Object Type",
        options:[
            {
                id:"Nominal",
                label:"Nominal",
                link:"ZNC_NOMINAL_QUERIES"
            }
        ]
    },
    {
        id:"ZNC_NOMINAL_QUERIES",
        elementType:"ddl",
        label:"How - Query Type",
        options:[
            {
                id:"BYNAME",
                label:"By Name",
                link:"ZNC_NOMINAL_BYNAME_FORM"
            }
        ]
    }
];

var OmniBoxRoot ={
    elementType:"ddl",
    label:"Data-source",
//        data:[
//            {
//                id:"PNC",
//                label:"PNC",
//                next:{
//                    elementType:"ddl",
//                    label:"What -> Object",
//                    data:[]
//                }
//            }
//        ],
    data:{
        ZNC:{
            label:"ZNC",
            data:{
                elementType:"ddl",
                label:"What -> Object",
                data:{
                    Nominal:{
                        label:"Nominal",
                        data:{
                            elementType:"ddl",
                            label:"How -> Query",
                            data:{
                                firstNameLastName:{
                                    label:"by Name",
                                    data:{
                                        elementType:"fields",
                                        data:{
                                            manditory:[
                                                {
                                                    elementType:"textBox",
                                                    label:"First Name",             // label for field
                                                    validation:"",                  // validation function / funcName, can be an object / array for multiples
                                                    dataLocation:"query.firstName"  // where to put data in query
                                                },
                                                {
                                                    elementType:"textBox",
                                                    label:"Last Name",              // label for field
                                                    validation:"",                  // validation function / funcName, can be an object / array for multiples
                                                    dataLocation:"query.lastName"   // where to put data in query
                                                }
                                            ],
                                            optional:[
                                                {
                                                    id:"SEX",
                                                    elementType:"textBox",
                                                    label:"SEX",                // label for field
                                                    validation:"",              // validation function / funcName, can be an object / array for multiples
                                                    dataLocation:"query.sex"    // where to put data in query
                                                }
                                            ],
                                            validation:null,
                                            postProcess:null
                                        }
                                    }
                                },
                                ZNCid:{
                                    label:"by ZNC ID",
                                    data:{
                                        elementType:"fields",
                                        data:{
                                            manditory:[
                                                {
                                                    elementType:"textBox",
                                                    label:"ZNC-Id",     // label for field
                                                    validation:"",          // validation function / funcName, can be an object / array for multiples
                                                    dataLocation:"query.zncid"  // where to put data in query
                                                }
                                            ],
                                            optional:[],
                                            postProcess:null
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        ZOLE:{
            label:"ZOLE",
            data:{
                elementType:"fields",
                data:{
                    manditory:[
                        {
                            id:"SEX",
                            elementType:"textBox",
                            label:"Zoomba",             // label for field
                            validation:"",                  // validation function / funcName, can be an object / array for multiples
                            dataLocation:"query.zoomba"  // where to put data in query
                        }
                    ],
                    optional:[
                        {
                            id:"SEX",
                            elementType:"textBox",
                            label:"SEX",                // label for field
                            validation:"",              // validation function / funcName, can be an object / array for multiples
                            dataLocation:"query.sex"    // where to put data in query
                        }
                    ],
                    postProcess:null
                }
            }
        }
    }
};



function TLF_Factory(container,config,submitCallback){

    var choices = [];

    var tlf = {
        templatePrefix:"template.",
        templates:{},
        identifier:"TLF",
        start:function(){
            tlf.populate(0,container,config);
        },
        // returns a function
        getTemplate:function(templateName,json){
            if(tlf.templates[templateName] == undefined){
                var templateText = JS.DOM.getElement(tlf.templatePrefix + templateName,true).innerHTML;
                tlf.templates[templateName] = _.template(templateText);
            }
            return tlf.templates[templateName];
        },
        populate:function(level,element,data){
            var templateTypeName = data.elementType;
            var templateFunc = tlf.getTemplate(templateTypeName);
            var html = templateFunc({
                tlf:tlf,
                level:level,
                data:data
            });
            // todo: extend element config with data.config
            JS.DOM.createElement("span",{class:tlf.identifier,innerHTML:html,style:{display:"inlineBlock"}},element);
        },
        prefilterChanged:function(level,value){
            choices = choices.slice(0,level);
            choices[level]=value;
            tlf.clean(level);
            var d = tlf.getData();
            tlf.populate(level+1,container,d);
        },
        clean:function clean(level){
            var children = JS.DOM.getElement(container,true).childNodes;
            var l = children.length -1;
            while(l > level){
                children[l].parentNode.removeChild(children[l]);
                l--;
            }
        },
        getData:function(){
            var d = config;
            _.forEach(choices,function(val,key,col){
                JS.ASSERT.isTrue(_.isObject(d.data[val].data),"missing expected data");
                d = d.data[val].data;
            })
            return d;
        }
    };
    return tlf;
};



/**
 *
 * @param func
 * @param storageObject
 * @param deleteAfterUse
 * @returns {*}
 */
function namedAnonymousFunction(func,storageObject,deleteAfterUse){
    var f = func;
    var name = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
        return v.toString(16);
    });
    storageObject = storageObject || window;
    if(deleteAfterUse){
        f = function(){
            var args = Array.prototype.slice.apply(arguments);
            setTimeout(function(){storageObject[name];},1)
            return func.apply(this,args);
        }
    }
    storageObject[name]=f;
    return name;
}

(function(){
    var n = namedAnonymousFunction(function(){
        console.log("f has been run");
    });
//    setInterval(window[n],1000);
})();


</script>

<script src="js/lodash.compat.js"></script>
<script src="js/JS.js"></script>


<!-- TEMPLATE for DROP DOWN LIST-->
<script type="text/html" id="template.ddl">
    <div class="" style="display: inline-block;border:1px solid red;">
        <input type="hidden" id="level<%=level%>" name="level<%=level%>" value="">
        <%
        var funcName = namedAnonymousFunction(function(){
        var selectedValue = JS.DOM.FORM.getValue(this);
        JS.DOM.getElement("level"+level).value = selectedValue;
        tlf.prefilterChanged(level,selectedValue);
        });
        console.log("created: "+funcName);
        %>
        <label><%=data.label%></label><br/>
        <select onchange="window['<%=funcName%>'].apply(this);">
            <option value="<%=data.label%>"><%=data.label%></option>
            <% _.forEach(data.data,function(val,key,collection){%>
            <option value="<%=key%>"><%=val.label%></option>
            <%});%>
        </select>
    </div>
</script>

<!-- TEMPLATE for FORM & FIELDS -->
<script type="text/html" id="template.fields">
    <%
    var uuid = JS.uuid();
    var optionalUUID = "optional_"+uuid;
    %>
    <div class="" style="display: inline-block;border:1px solid red;">
        <div class="" style="display: inline-block;border:1px solid blue;">
            <% _.forEach(data.data.manditory,function(val,key,collection){
            var html = tlf.getTemplate(val.elementType)(val);
            %>
            <%=html%>
            <%});%>
        </div>
        <div id="<%= optionalUUID %>" class="" style="display: inline-block;border:1px solid yellow;">
        </div>
        <%
        var optionalFieldFuncName = namedAnonymousFunction(function(){
        var element = JS.DOM.getElement(this);
        var selectedValue = JS.DOM.FORM.getValue(element);
        if(selectedValue =="+")return;
        var optionalContainer = JS.DOM.getElement(optionalUUID);
        var d = _.find(data.data.optional,{id:selectedValue});
        var html = tlf.getTemplate(d.elementType)(d);
        var newElement = JS.DOM.createElement("span",{innerHTML:html,optional:true},optionalContainer);
        element.selectedIndex = 0;
        element.blur();
        });
        %>
        <div class="" style="display: inline-block;border:1px solid yellow;">
            <select style="width:50px;font-size: xx-large;" onfocus="this.style.width='200px';" onblur="this.style.width='60px';" onchange="window['<%=optionalFieldFuncName%>'].apply(this);">
                <option>+</option>
                <optgroup label="Optional Fields">
                    <% _.forEach(data.data.optional,function(val,key,collection){%>
                    <option value="<%=val.id%>"><%=val.label%></option>
                    <%});%>
                </optgroup>
            </select>
        </div>
    </div>
</script>

<script type="text/html" id="template.textBox">
    <div class="" style="display: inline-block;border:1px solid red;">
        <label><%=label%></label><br/>
        <input type="text" id="<%=dataLocation%>" value="">
    </div>
</script>

<script type="text/html" id="template.empty">
    <div>empty</div>
</script>


<script>
    var things = [
        {
            id:"DataSrcs",
            elementType:"ddl",
            label:"Where - Data Source",
            options:[
                {
                    id:"ZNC",
                    label:"ZNC",
                    link:"ZNC_OBJECTS"
                },{
                    id:"ZOLE",
                    label:"ZOLE"
                }
            ]
        },
        {
            id:"ZNC_OBJECTS",
            elementType:"ddl",
            label:"What - Object Type",
            options:[
                {
                    id:"Nominal",
                    label:"Nominal",
                    link:"ZNC_NOMINAL_QUERIES"
                }
            ]
        },
        {
            id:"ZNC_NOMINAL_QUERIES",
            elementType:"ddl",
            label:"How - Query Type",
            options:[
                {
                    id:"BYNAME",
                    label:"By Name",
                    link:"ZNC_NOMINAL_BYNAME_FORM"
                }
            ]
        }

    ];
</script>

XML would allow an XSD??
<OMNIBOX>
    <DDL id="dataSources" label="Where - Data Sources">
        <OPTION id="" label=""></OPTION>
        <OPTION></OPTION>
        <OPTION></OPTION>
    </DDL>
</OMNIBOX>

</body>
</html>