<!DOCTYPE html>
<html>
<head>
    <title>Universal Structured search interface</title>
    <style>

        select{
            font-size: large;
        }

    </style>
    <script src="js/lodash.compat.js"></script>
    <script src="js/JS.js"></script>
    <script src="js/TemplateFactory.js"></script>
    <script src="js/namedAnonFunc.js"></script>
</head>
<body onload="TLF_Factory('tlf-out','box1',null).start()">

<OMNIBOX id="box1">
    <DDL id="dataSources" label="Data Sources">
        <OPTION id="ZNC" label="ZNC">
            <DDL id="objects" label="Object">
                <OPTION id="Nominal" label="Nominal">
                    <DDL id="Queries" label="How">
                        <OPTION id="BYNAME" label="by Name">
                            <FORM>
                                <TEXT type="text" id="firstName" label="First Name" required="true"    validation="required"  dataLocation="PNC.firstName"></TEXT>
                                <TEXT type="text" id="lastName"  label="Last Name"  required="true"    validation="required"  dataLocation="PNC.LastName"></TEXT>
                                <CIRCLE type="text" id="circle"  label="Circle"     required="true"    validation="required"  dataLocation="PNC.LastName"></CIRCLE>
                                <SVG-HTML id="SVG-HTML" required="true"></SVG-HTML>
                                <LIST type="ddl"  id="sex"       label="Sex"        required="false"   validation="sex"        dataLocation="PNC.sex" list="male,female"></LIST>
                                <TEXT type="text" id="height"    label="Height"     required="false"   validation="sex"        dataLocation="PNC.sex"></TEXT>
                            </FORM>
                        </OPTION>
                        <OPTION id="byID" label="by Id">
                            <FORM>
                                <FIELD id="ZNC-ID" label="ZNC ID" manditory="true" validation="required,isZncId"/>
                            </FORM>
                        </OPTION>
                    </DDL>
                </OPTION>
                <OPTION id="Vehicle" label="Vehicle">
                    <DDL></DDL>
                </OPTION>
            </DDL>
        </OPTION>
        <OPTION id="ZOLE" label="Zole">
            <EMPTY></EMPTY>
        </OPTION>
        <OPTION id="zvla" label="ZVLA">
            <EMPTY></EMPTY>
        </OPTION>
    </DDL>
</OMNIBOX>

<div id="tlf-out"></div>


<script>

    // TODO: convert this to a private/public constructor ?

    // triggerEvent(true) on open
    // triggerEvent(false) on close
    // clear items backwards, use treewalk, call event handler if exists
    // add target tag to CONFIG - ie: field goes here target?




    function TLF_Factory(container,configContainerId,submitCallback){

        var choices = [];
        var TlfTemplateFactory = TemplateFactory.getTemplateFactory("template.");

        var tlf = {
            identifier:"TLF",

            start:function(){
                var configContainer = JS.DOM.getElement(configContainerId,true);
                var dataTag = configContainer.children[0];
                tlf.populate(0,container,dataTag);
            },
            populate:function(level,element,dataTag){
                element = JS.DOM.getElement(element,true);
                var templateTypeName = dataTag.tagName;
                var postProcessing = [];
                var html = TlfTemplateFactory.render(templateTypeName,{
                    uuid: _.uniqueId(this.identifier),
                    tlf:tlf,
                    level:level,
                    dataTag:dataTag,
                    postProcessing:postProcessing
                });
                var newElement = JS.DOM.createElement("span",{class:tlf.identifier,innerHTML:html,style:{display:"inlineBlock"}},element);
                _.forEach(postProcessing,function(func){func.apply()});
                return newElement;
            },
            prefilterChanged:function(level,dataTag,value){
                choices = choices.slice(0,level);
                choices[level]=value;
                tlf.clean(level);
//                var d = tlf.getData();
                var selectedOption = dataTag.children.namedItem(value);
                var d = selectedOption.children[0];
                tlf.populate(level+1,container,d);
            },
            clean:function clean(level){
                var children = JS.DOM.getElement(container,true).childNodes;
                var l = children.length -1;
                while(l > level){
                    children[l].parentNode.removeChild(children[l]);
                    l--;
                }
            },
            getData:function(){
                var d = config;
                _.forEach(choices,function(val,key,col){
                    JS.ASSERT.isTrue(_.isObject(d.data[val].data),"missing expected data");
                    d = d.data[val].data;
                })
                return d;
            }
        };

        return tlf;
    };


</script>




<!-- TEMPLATE for DROP DOWN LIST-->
<script type="text/html" id="template.DDL" vars="uuid,tfl,level,dataTag">
    <%
    var childrenContainerId = "ddl_" + uuid;
    var funcNameDDLChanged = namedAnonymousFunction(function(){
    // remove all old descendants
    var container = JS.DOM.getElement(childrenContainerId);
    container.innerHTML = "";
    // get selected value
    var selectedValue = JS.DOM.FORM.getValue(this);
    // populate new child
    var childDataTag = dataTag.children.namedItem(selectedValue);
    tlf.populate(level+1,container,childDataTag)
    });
    %>
    <div class="" style="display: inline-block;border:1px solid red;">
        <input type="hidden" id="level<%=level%>" name="level<%=level%>" value="">
        <label><%=dataTag.getAttribute("label")%></label><br/>
        <select onchange="window['<%=funcNameDDLChanged%>'].apply(this);">
            <option value="<%=dataTag.getAttribute('label')%>"><%=dataTag.getAttribute("label")%></option>
            <% _.forEach(dataTag.children,function(val,key,collection){%>
            <option value="<%=val.getAttribute('id')%>"><%=val.getAttribute("label")%></option>
            <%});%>
        </select>
    </div>
    <span id="<%=childrenContainerId%>"></span>
</script>

<script type="text/html" id="template.OPTION" vars="uuid,tlf,level,dataTag">
    <%
    var childrenContainerId = "option_" + uuid;
    setTimeout(function(){
    var childDataTag = dataTag.children[0];
    tlf.populate(level,childrenContainerId,childDataTag);
    },1);
    %>
    <span id="<%=childrenContainerId%>"></span>
</script>

<!-- TEMPLATE for FORM & FIELDS -->
<script type="text/html" id="template.FORM" vars="uuid,tlf,level,dataTag,postProcessing">
    <%
    var mandatoryContainerId = "mandatory_" + uuid;
    var optionalContainerId = "optional_" + uuid;
    var mandatoryChildren = _.findByAttribute(dataTag.children,"required","true");
    var optionalChildren = _.findByAttribute(dataTag.children,"required","false");
    // build mandatory fields
    postProcessing.push(function(){
        var mandatoryContainer = JS.DOM.getElement(mandatoryContainerId);
        _.forEach(mandatoryChildren,function(childDataTag){
            tlf.populate(level,mandatoryContainer,childDataTag);
        });
    });
    // optional fields event handler
    var optionalFieldFuncName = namedAnonymousFunction(function(){
        var selectElement = this;
        var selectedValue = JS.DOM.FORM.getValue(selectElement);
        if(selectedValue == "+"){return;}
        var childDataTag = _.find(dataTag.children,{id:selectedValue});
        tlf.populate(level,optionalContainerId,childDataTag);
        // change select box back to "+"
        selectElement.selectedIndex = 0;
        selectElement.blur();
        // TODO: remove option from optionals list?
    });
    %>
    <div class="" style="display: inline-block;border:1px solid red;">
        <div id="<%= mandatoryContainerId %>" class="" style="display: inline-block;border:1px solid blue;"></div>
        <div id="<%= optionalContainerId %>" class="" style="display: inline-block;border:1px solid yellow;"></div>
        <div class="" style="display: inline-block;border:1px solid yellow;">
            <select style="width:50px;font-size: xx-large;color:blue;" onfocus="this.style.width='200px';" onblur="this.style.width='60px';" onchange="window['<%=optionalFieldFuncName%>'].apply(this);">
                <option>+</option>
                <optgroup label="Optional Fields">
                    <%
                    _.forEach(optionalChildren,function(childDataTag){
                    %>
                        <option value="<%=childDataTag.id%>"><%=childDataTag.label%></option>
                    <%
                    });
                    %>
                </optgroup>
            </select>
        </div>
    </div>
</script>

<script type="text/html" id="template.TEXT">
    <div class="" style="display: inline-block;border:1px solid red;">
        <label><%=dataTag.getAttribute("label")%></label><br/>
        <input type="text" id="<%=dataTag.getAttribute('dataLocation')%>" value="">
    </div>
</script>

<script type="text/html" id="template.CIRCLE">
    <svg height="30">
        <circle cx="10" cy="10" r="10" stroke="green" stroke-width="4" fill="yellow" />
    </svg>
</script>

<script type="text/html" id="template.SVG-HTML">
    <svg id="svg1" width="200" height="100" xmlns="http://www.w3.org/2000/svg">
        <foreignObject x="0" y="0" width="200" height="100">
            <span>goodbye cruel world</span>
        </foreignObject>
    </svg>
</script>


<script type="text/html" id="template.EMPTY">
    <span>empty</span>
</script>


<script type="text/html">

    // todo: allow field to specify base field to extend?
    // or always specify all fields, so single point of responsibility

    // where -> what -> how
    // Data-src -> ObjectType -> QueryType
    // who where when what why how

    // config for prefilters - typeName -> typeName -> typeName

    // if type is DDL, display content as DDL: value:text -> id:displayName -> select chooses id
    // process collection fields in order to get data coordinates


    // XML would allow: XSD, xPath, xQuery
    // ??? xForms
    // ??? XML would easily allow angular Directives !!!

    questions:
    in page dynamic generation VS server side XSLt
    XSL for complete build OR dynamic build JIT components

    options for creating
    client side - JS dynamic JIT with John Resig Templates
    client side - JS dynamic JIT XSLt, so XML data island
    client side - angularJS directives, so inline in HTML
    server side - XSLt + client side JS to show/hide

</script>



</body>
</html>